@import "./additional/normalise",
"./additional/variables",
"./additional/mixins",
"./additional/fonts",
"./additional/utils",
"./additional/globals",
"./additional/media";


:root {
    --swiper-pagination-bullet-horizontal-gap: 5px;
}

body {
    background-color: var(--color-ligth-bg);
    color: var(--color-text-dark);
}

.title {

    font-family: Playfair, sans-serif;
    font-weight: 400;
    line-height: 1.3;
    text-transform: uppercase;
}

.content {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    // text-transform: uppercase;
}

.decor-text {
    font-family: Caveat, sans-serif;
    font-weight: 400;
    color: #2C2C2E;
}


.header-wrapper {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    gap: 75px;

    .logo {
        margin-right: auto;

    }
}

.logo {
    width: 77px;
    height: 58px;
}

.mobile-part-hidden {
    display: none;
}

.menu-items {
    display: flex;
    gap: 55px;

    li:hover {
        color: var(--color-gray);
        transition: all var(--transition-duration);
    }
}

svg {
    display: block;
    fill: transparent;
    stroke: var(--color-main);
    opacity: 1;
    transition: opacity var(--transition-duration);

    @include mobHover {
        opacity: 0.7;
        transition: opacity var(--transition-duration);
    }
}

.slider-btns {
    .swiper-button-left {
        transform: rotate(180deg);
        cursor: pointer;
    }

    .swiper-button-right {
        cursor: pointer;
    }
}

.header {
    .contacts {
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        color: var(--color-main);
        font-size: 24px;
    }
}

.underline {
    position: relative;
    display: inline-block;
    white-space: nowrap;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        background: url(../image/svg/underline.svg) no-repeat;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        // top: 0;
    }

}

.banner {
    position: relative;

    .container-banner {}

    .banner-wrapper {
        padding-top: 71px;
    }

    .title {
        font-size: fluid-space(70, 50, 1400, 390);
        max-width: 590px;
    }

    .image-bg {
        object-fit: cover;
        object-position: right;
        position: absolute;
        right: 0;
        width: 56%;
        z-index: -1;
    }




    .annotation {
        font-family: Caveat, sans-serif;
        font-size: 28px;
        margin-top: 10px;
    }



    .links {
        margin-top: 70px;
        max-width: 40.5%;
        display: flex;
        justify-content: space-between;
    }

}

.soc-links {
    display: flex;
    gap: 20px;

}

.soc-link {
    width: 34px;
    height: 34px;
    background: var(--color-main);
    opacity: 1;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    cursor: pointer;

    @include mobHover {
        background: var(--color-main-hover);
        // width: 34px;
        // height: 34px;
        transition: background 0.3s;
    }

    svg {
        display: block;
        width: 18px;
        height: 18px;
        fill: var(--color-whiter);
    }

    // :hover {
    //     opacity: 0.7;
    // }
}


.sign-btn {
    cursor: pointer;
    position: relative;
    width: 143px;
    height: 143px;
    display: flex;
    justify-content: center;
    align-items: center;

    .circle-image {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        animation: rotate 55s linear infinite;
        /* Назначаем анимацию */
    }

    svg {
        width: 49px;
        height: 31px;
        stroke: #B70D0D;
        fill: transparent;
        transform: rotate(135deg);
    }
}


@keyframes rotate {

    from {
        transform: rotate(0deg);
        /* Начальное положение - без поворота */
    }

    to {
        transform: rotate(360deg);
        /* Конечное положение - один оборот */
    }
}

.form-contact,
.what-is {
    --gap-content: 189px;

    .container {

        display: flex;
        justify-content: end;
    }

    .wrapper {
        margin-top: 88px;
        margin-bottom: 71px;
        position: relative;
        width: 100%;
        display: flex;
        // gap: var(--gap-content);
        justify-content: end;

        .inner {
            max-width: 739px;
        }
    }

    .image {
        max-width: 40%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: -1;

        img {
            object-fit: cover;
        }
    }

    .content {
        flex: 1;

    }

    .content-text__wrapper {
        margin-top: 32px;
        padding-left: var(--gap-content);
    }

    .title {
        font-size: 48px;
        line-height: 1.35;
        margin-top: 80px;
    }

    .description {}

    .links {
        margin-top: 20px;
        display: flex;
        gap: 56px;
        justify-content: end;
        align-items: center;
    }

    .inscription {}

    .underline {}

    .sign-btn {
        svg {
            transform: rotate(0deg);
        }
    }

    .circle-image {
        animation-direction: reverse;
    }

    .btn-text {}

}

.price {

    .container {}

    .price-inner {
        margin-top: 80px;
        margin-bottom: 165px;
    }

    .title {
        font-size: 48px;
        line-height: 1.25;
    }

    .tabs {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 20px 0px;
        margin-top: 60px;

        &.content {
            font-size: 20px;
        }
    }

    .tab-item {
        cursor: pointer;
        padding-block: 10px;
        border: 1px solid var(--color-tab-border);
        transition: all var(--transition-duration);
        text-align: center;

        &__active {
            color: var(--color-ligth-bg);
            background-color: var(--color-main-dark);
            transition: all var(--transition-duration);
        }

        @include mobHover {
            color: var(--color-ligth-bg);
            background-color: var(--color-main-dark);
            transition: all var(--transition-duration);

        }

    }

    .srevice-items {
        margin-top: 60px;

        .service-items__inner {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
            gap: 30px 0px;

        }

        .title {
            font-size: 32px;
        }

        .quote {
            font-size: 28px;
            color: var(--color-main);
        }

        .description {
            grid-column: 1/3;
        }

        .content {}
    }

    .slider-btns {
        position: relative;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: end;

        svg {
            width: 46px;
            height: 31px;
        }
    }

    .slider-section {
        margin-block: 60px;
    }

    .price-slider {
        .swiper-wrapper {}

        .swiper-slide {
            max-width: 456px;
            max-height: 347px;
        }



        .swiper-button-left {}

        .swiper-button-rght {}

        .swiper-scrollbar {}
    }

    .slider-btns {
        margin-top: 20px;
    }

    .price-list-section {
        .tabs {

            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        }

        .tab-item {
            text-transform: uppercase;
        }
    }

    .price-list-items {

        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        gap: 20px;
    }

    .price-list-item {
        padding: 20px;
        max-width: 360px;
        min-height: 323px;
        background-color: var(--color-ligth-bg-block);
        border: 1px solid var(--color-cost-item);

        .item-title {
            font-size: 24px;
            color: var(--color-main);
            text-transform: uppercase;
        }

        .price-list-content {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr auto;
            gap: 11px 0px;
        }

        .price-named {
            // font-size: ;
        }

        .price-cost {
            font-size: 18px;
            font-weight: 600;
        }

        .cost {}

        .currency {}

        .duration {}

        .unit {}
    }

}

.abonent {
    background: var(--color-main-bg);
    position: relative;

    .abonent-bg {
        position: absolute;
    }

    .container {}

    .abonent-wrapper {
        padding-block: 80px;
    }

    .content {
        color: var(--color-ligth-bg);
        font-weight: 700;
        text-transform: uppercase;
        font-size: 48px;
    }

    .flyer-items {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .flyer-item {
        background: var(--color-ligth-bg);
        padding: 20px;
        max-width: 550px;
    }

    .flyer-item-inner {
        position: relative;
    }

    .flyer-decor-image {
        position: absolute;
        top: 0;
        right: 0;
    }

    .decor-text {
        font-size: 28px;
        text-transform: uppercase;
        line-height: 1.25;

    }

    .discount {
        line-height: 1.25;
        font-size: 83px;
        color: var(--color-main-dark);
        font-weight: 700;
        text-transform: uppercase;
    }

    .description {
        font-size: 20px;
        line-height: 1.5;
        color: var(--color-text-dark);
        font-weight: 400;
        text-transform: none;
    }

    .note {
        font-size: 16px;
    }



    .flyer-item-inner {
        display: grid;
    }

    .decor-text {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 35px;
        justify-self: center;
    }

    .discount {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .description {
        grid-column: 2/4;
        grid-row: 2/3;
        align-self: center;
        padding-left: 20px;
    }

    .note {
        grid-column: 1/3;
        grid-row: 3/4;
        align-self: end;
    }

    .sign-btn {
        grid-column: 3/4;
        grid-row: 3/4;
        width: 119px;
        height: 119px;
        margin-top: -30px;

        svg {
            width: 41px;
            height: 26px;
        }
    }
}

.reviews {
    .container {}

    .reviews-wrapper {
        margin-top: 160px;
        margin-bottom: 70px;
    }

    .reviews-top {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .title {
        font-size: 48px;
    }

    .links {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .decor-text {
        font-size: 28px;
    }

    .underline {}

    .soc-link {
        align-self: auto;
    }

    .slider-section {}

    .slider-section-wrapper {
        position: relative;

        .reviews-slider {
            margin-inline: 100px;
            overflow: hidden;
            padding-block: 50px;
        }
    }

    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        width: 360px;
        max-width: 360px;
        background-color: #000000;
        transition: all var(--transition-duration);
        position: relative;

        .soc-link {
            width: 60px;
            height: 60px;
            position: absolute;
            padding-left: 2px;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;


            svg {
                height: 21px;
            }
        }

        img {
            object-fit: cover;
            object-position: top;
            opacity: 0.5;
            transition: opacity var(--transition-duration);
            aspect-ratio: 0.83;

        }

        &.swiper-slide-active {
            position: relative;
            transition: 0.3s;
            z-index: 100;
            transform: translate3d(0px, 0px, 100px);
            opacity: 1;
            // scale: 1.2;
            transition: all var(--transition-duration);
            aspect-ratio: 0.7;

            img {
                transition: opacity var(--transition-duration);
                opacity: 1;
            }
        }
    }

    .swiper-slide-next,
    .swiper-slide-prev {
        aspect-ratio: 0.83;
        position: relative;
        z-index: 2;
        opacity: 1;
    }


    .slider-btns {
        svg {
            width: 51px;
            height: 33px;
        }

    }

    .swiper-slide.swiper-slide-active {}

    .swiper-button-left,
    .swiper-button-right {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .swiper-button-left {
        left: 0;
        transform: translate(50%, -50%) rotate(180deg);

    }

    .swiper-button-right {
        right: 0;
    }

    .swiper-pagination-bullet-active {
        background: var(--color-main-dark);
    }

    .swiper-pagination {
        position: static;
    }
}

.our-team {
    .container {}

    .our-team-wrapper {}

    .title {
        font-size: 48px;
    }

    .our-team-inner {
        margin-top: 80px;
        margin-bottom: 160px;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .team-item {
        align-self: flex-start;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        gap: 115px;

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
    }

    .content {
        margin-block: 35px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .team-item-property {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .name {
        &.title {
            font-size: 40px;
            text-transform: uppercase;
        }
    }

    .profession {
        font-size: 20px;
        font-weight: 600;
    }

    .decor-text {}

    .underline {}

    .description {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 30px;
        flex: 1;
    }

    .profession-tabs {
        display: flex;
        gap: 10px;
    }

    .profession-tab {
        border: 1px solid var(--color-tab-border);
        width: 120px;
        color: var(--color-main);
        border-radius: 50px;
        text-align: center;
        font-size: 18px;
    }

    .image {
        max-width: 360px;
        max-height: 380px;

        img {
            object-fit: cover;
            object-position: center;
        }
    }
}

.form-contact {
    --gap-content: 240px;
    position: relative;

    .container {}

    button {

        @include reset-button;
    }

    input {
        border: 0px;
        font-size: 14px;
        line-height: 1.5;
        height: 40px;
        border-bottom: 1px solid var(--color-gray-text-politic);

        &:focus {
            font-weight: 600;
            color: var(--color-main);
            outline: 0px;
            border-bottom: 1px solid var(--color-text-dark);

        }
    }

    .wrapper {
        margin: 0;

        .inner {
            max-width: 599px;
        }
    }


    .image-bg {
        object-fit: cover;
        object-position: right;
        position: absolute;
        left: 0;
        width: 56%;
        z-index: -1;
    }

    .content {}

    .title {}

    .content-text__wrapper {
        padding-left: var(--gap-content);
    }

    .description {
        font-size: 18px;
    }

    .links {}

    .inscription {
        color: var(--color-gray-text-politic);
        font-size: 12px;
        line-height: 1.3;
    }

    .underline {}

    .sign-btn {
        flex: 0 0;
        width: 135px;
        height: 135px;
        min-width: 135px;
        min-height: 135px;
        transform: rotate(135deg);
    }


    .circle-image {}

    .btn-text {}

    .form-contact-blank {
        margin-top: 40px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: 1fr;

        input {
            width: 65%;
        }


        .name {
            grid-column: 1/3;
        }

        .phone {
            grid-column: 1/3;
            margin-top: 20px;
        }

        .inscription {
            grid-column: 1/2;
            align-self: center;
        }

        .decor-text {}

        .submit {
            grid-column: 2/3;
            margin-top: 30px;

        }

        .sign-btn {}

        .circle-image {}

        .btn-text {}
    }
}

.footer {
    background: var(--color-footer-bg);
    color: var(--color-ligth-bg);
    font-size: 14px;

    .container {}

    .footer-hidden{
        grid-column: 1/2;
        grid-row: 2/5;
    }
    .footer-inner {
        padding-top: 80px;
        padding-bottom:100px;
        
    }

    .title {
        font-size: 48px;
        font-weight: 500;
    }

    .footer-items {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(max-content, 160px));
        
        gap: 20px 71px;
    }

    .footer-logo {
        width: 104px;
        height: 80px;
    }

    .contacts-adress {}

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .contact-block {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .contact-name {
        font-size: 20px;
    }

    .decor-text {
        color: var(--color-ligth-footer-alt);
    }

    .description {
        font-size: 14px;
        color: var(--color-ligth-bg);
    }

    .content {}

    .menu {
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .contacts-phone {}

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .link-title {
        font-size: 20px;
        color: var(--color-ligth-bg);
    }

    .soc-links {}

    .soc-link {
        background: var(--color-ligth-footer-links);

        svg {
            fill: var(--color-text-dark);
            stroke: transparent;
        }

        .insta {
            fill: transparent;
            stroke: var(--color-text-dark);
        }

    }
}